<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{ISO8601} %c{3} [%-t] %-5p %C{3}(%L) %x - %m%n" />
		</layout>
	</appender>

	<appender name="LIFE_CYCLE" class="org.apache.log4j.FileAppender">
		<param name="File" value="${gb.log4j.path}/${project.artifactId}.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{ISO8601} %c{3} [%-t] %-5p %C{3}(%L) %x - %m%n" />
		</layout>
	</appender>

	<appender name="ROLLING"
		class="org.apache.log4j.RollingFileAppender">
                <param name="Threshold" value="INFO" />
		<param name="File" value="${gb.log4j.path}/${project.artifactId}.log" />
		<param name="MaxFileSize" value="1024KB" />
		<param name="MaxBackupIndex" value="6" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{ISO8601} %c{3} [%-t] %-5p %C{3}(%L) %x - %m%n" />
		</layout>
	</appender>

	<appender name="DAILY_ROLLING"
		class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${gb.log4j.path}/${project.artifactId}.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{ISO8601} %c{3} [%-t] %-5p %C{3}(%L) %x - %m%n" />
		</layout>
	</appender>
        
        <logger name="org.springframework">
		<level value="WARN" />
	</logger>

	<root>
		<level value="${gb.log4j.level}" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="DAILY_ROLLING" />
	</root>
</log4j:configuration>