<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{ISO8601} [%-t] %-5p %c{3} - %m%n" />
		</layout>
	</appender>

	<appender name="LIFE_CYCLE" class="org.apache.log4j.FileAppender">
		<param name="File" value="logs/lifecyle.log" />
		<param name="Threshold" value="INFO" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{ISO8601} [%-t] %-5p %c{3} - %m%n" />
		</layout>
	</appender>

	<appender name="ROLLING"
		class="org.apache.log4j.RollingFileAppender">
		<param name="Threshold" value="INFO" />
		<param name="File" value="logs/rolling.log" />
		<param name="MaxFileSize" value="2048KB" />
		<param name="MaxBackupIndex" value="10" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{ISO8601} [%-t] %-5p %c{3} - %m%n" />
		</layout>
	</appender>

	<appender name="DAILY_ROLLING"
		class="org.apache.log4j.DailyRollingFileAppender">
		<param name="Threshold" value="INFO" />
		<param name="File" value="logs/dailyrolling.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{ISO8601} [%-t] %-5p %c{3} - %m%n" />
		</layout>
	</appender>

	<logger name="org.apache">
		<level value="INFO" />
	</logger>

	<logger name="org.hibernate">
		<level value="WARN" />
	</logger>
	
	<logger name="net.fckeditor">
		<level value="WARN" />
	</logger>

	<logger name="org.springframework">
		<level value="INFO" />
	</logger>

	<logger name="com.ma">
		<level value="DEBUG" />
	</logger>

	<root>
		<level value="DEBUG" />
		<appender-ref ref="CONSOLE" />
	</root>
</log4j:configuration>