<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{ISO8601} [%-t] %-5p %c{3} - %m%n" />
		</layout>
	</appender>

	<appender name="DAILY_ROLLING"
		class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${project.build.testOutputDirectory}/logs/${project.artifactId}.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{ISO8601} [%-t] %-5p %c{3} - %m%n" />
		</layout>
	</appender>
        
        <logger name="org.springframework">
		<level value="WARN" />
	</logger>

	<root>
		<level value="DEBUG" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="DAILY_ROLLING" />
	</root>
</log4j:configuration>